<div class="navbar navbar-default navbar-inverse navbar-fixed-top" id="wrapper">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">TINT Grupo8</a>
     </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
          <li><a href="<%= dashboard_path %>">Dashboard</a></li>
          <li><a href="<%= bodega_path %>">Bodega</a></li>
          <li><a href="<%= orders_sftps_path %>">Pedidos</a></li>
          <li><a href="<%= spree_path %>">eCommerce</a></li>
          <li><a href="<%= api_docs_path %>">Documentación API</a></li>
          <%if !current_user%>
          <li><%= link_to "Log in", log_in_path %></li>
          <%else%>
          <li><a href="">Buena <%= current_user.username %></a></li>
          <li><%= link_to "Log out", log_out_path %></li>
          <%end%>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        </li>
      </ul> 
    </div>
  </div>