<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript" src="https://www.google.com/jsapi"> </script>
  <script type="text/javascript"
    src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBwNVUZgov8CQrXbgaDf2wuEBVlnSXovs4&sensor=false&libraries=drawing,geometry">
  </script>
  <title>TINT Grupo8</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
   
</head>
<body>
<div class="navbar navbar-default navbar-inverse navbar-fixed-top" id="wrapper">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">TINT Grupo8</a>
     </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
          <li><a href="<%= dashboard_path %>">Dashboard</a></li>
          <li><a href="<%= bodega_path %>">Bodega</a></li>
          <li><a href="<%= orders_sftps_path %>">Pedidos</a></li>
          <li><a href="<%= spree_path %>">eCommerce</a></li>
          <li><a href="<%= api_docs_path %>">Documantación API</a></li>
          <%if !current_user%>
          <li><%= link_to "Log in", log_in_path %></li>
          <%else%>
          <li><a href="">Buena <%= current_user.username %></a></li>
          <li><%= link_to "Log out", log_out_path %></li>
          <%end%>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        </li>
      </ul> 
    </div>
  </div>

 
  <div class="container container-fluid" id="body-container">

    <div class="row">
      <div class="col-md-12">
        <div class="row col-md-offset-1">
        <% flash.each do |name, msg| %>
          <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
             <a class="close" data-dismiss="alert">×</a>
              <%= msg %>
          </div>
        <% end %>
      </div>

      
      

      <div class="row">
        <div class="col-md-10">
        <%= yield %>
         
        </div>
        <div class="col-md-2">
           <a  style='float: right;'class="twitter-timeline" href="https://twitter.com/CentralAhorroG8" data-widget-id="477856136700260352">Tweets by @CentralAhorroG8</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

        </div>
      </div>



      

      </div>
      
    </div>
  </div>


</body>
</html>
