<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript" src="https://www.google.com/jsapi"> </script>
  <script type="text/javascript"
    src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBwNVUZgov8CQrXbgaDf2wuEBVlnSXovs4&sensor=false&libraries=drawing,geometry">
  </script>
  <title>TINT Grupo8</title>
  <%= include_gon(:init => true) %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
   
</head>
<body id="dashboard_body">
  <%= render 'layouts/nav' %>

  <div class="row">
    <div class="col-md-12">
      <div class="row col-md-offset-1">
      <% flash.each do |name, msg| %>
        <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
           <a class="close" data-dismiss="alert">×</a>
            <%= msg %>
        </div>
      <% end %>
    </div>
      <%= yield %>

    </div>
    
  </div>



</body>
</html>
