<div class="container container-fluid">
  <div class= "well well-small center">
      <h2>Pedidos totales: <%= @pedidos %></h2>
  </div>
  <div class="row">
    <div class="col-md-2  center">
      <h4>Reporte</h4>
    </div>
    <div class="col-md-1 center">
      <h4>Cantidad</h4>
    </div>
    <div class="col-md-2 center">
      <h4>Forma calculo</h4>
    </div>
    <div class="col-md-5 center ">
      <h4>KPI(%)</h4>
    </div>
    <div class="col-md-1 center">
      <h4>Link</h4>
    </div>
  </div>
  <div class="row" style="padding-top: 3em;">
    <div class="col-md-2  center">
      <h5>Quiebres de Stocks</h5>
    </div>
    <div class="col-md-1 center">
      <h5><%= @quiebres %></h5>
    </div>
    <div class="col-md-2 center">
      <h5>Quiebre Stock/TotalPedidos</h5>
    </div>
    <div class="col-md-5 pie_quebrados" style="height: 80px; margin: 0;">
    </div>
    <div class="col-md-1 center">
      <%= link_to 'Detalles', show_brokestock_path, :class => 'btn btn-info' %>
    </div>
  </div>
  <div class="row" style="padding-top: 3em;">
    <div class="col-md-2  center">
      <h5>Ventas efectivas</h5>  </div>
    <div class="col-md-1 center">
      <h5><%= @ventas%></h5>  </div>
    <div class="col-md-2 center">
      <h5>Ventas/TotalPedidos</h5>
    </div>
    <div class="col-md-5 pie_ventas" style="height: 80px; margin: 0;">
    </div>
    <div class="col-md-1 center">
      <%= link_to 'Detalles', show_sales_path, :class => 'btn btn-info' %>
    </div>
  </div>
  <div class="row" style="padding-top: 3em;">
    <div class="col-md-2  center">
     <h5>Pedidos incorrectos procesados</h5>
    </div>
    <div class="col-md-1 center">
      <h5><%= @pedidos_incorrectos%></h5>
    </div>
    <div class="col-md-2 center">
      <h5>Incorrectos/TotalPedidos</h5>
    </div>
    <div class="col-md-5 pie_wrongorders" style="height: 80px; margin: 0;">
    </div>
    <div class="col-md-1 center">
     <%= link_to 'Detalles', show_wrongorders_path, :class => 'btn btn-info' %>
    </div>
  </div>
</div>







</div>


<%= render 'total' %>

