<%= form_for(@storehouse) do |f| %>
  <% if @storehouse.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@storehouse.errors.count, "error") %> prohibited this storehouse from being saved:</h2>

      <ul>
      <% @storehouse.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :capacity %><br>
    <%= f.number_field :capacity %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.number_field :type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
