<p id="notice"><%= notice %></p>

<p>
  <strong>Unit:</strong>
  <%= @reserf.unit %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @reserf.amount %>
</p>

<p>
  <strong>Date:</strong>
  <%= @reserf.date %>
</p>

<%= link_to 'Edit', edit_reserf_path(@reserf) %> |
<%= link_to 'Back', reserves_path %>
