<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @pedido.Fecha %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @pedido.Hora %>
</p>

<p>
  <strong>Rut:</strong>
  <%= @pedido.Rut %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @pedido.Fecha %>
</p>

<p>
  <strong>Sku:</strong>
  <%= @pedido.Sku %>
</p>

<p>
  <strong>Cantidadunidad:</strong>
  <%= @pedido.CantidadUnidad %>
</p>

<%= link_to 'Edit', edit_pedido_path(@pedido) %> |
<%= link_to 'Back', pedidos_path %>
